text {
  font-family: Poppins;
  font-size: 50px;
  font-weight: 900;
  color: white;
  position: absolute;
  left: 100px;
  top: 100px;
  text-shadow: 5px 5px 50px rgba(black, 0.8);
}

Health {
  position: absolute;
  background-color: rgba(black, 0.5);
  right: 100px;
  bottom: 48px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  height: 80px;
  padding: 0 20px;
  align-items: center;
	font-size: 50px;
}
